<div class="card border-primary mb3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body text-primary">
        <button type="button" class="btn btn-success" routerLink="/productos/form">Crear Producto</button>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Fecha Creado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of lista">
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.createAt | date: 'yyyy-MM-dd'}}</td>
                    <td>
                        <button class="btn btn-warning" [routerLink]="['/productos/form', producto.id]">Editar</button>
                        <button class="btn btn-danger" (click)="eliminar(producto)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>